description "API Service"
author      "Grocery Groove"

# used to be: start on startup
# until we found some mounts weren't ready yet while booting

start on started mountall
stop on shutdown

# automatically respawn

respawn
respawn limit 99 5

script

    export HOME="/root"
    cd {{ api_path }} && exec npm start >> /var/log/api.log 2>&1

end script
