DB_USER={{ db_owner_username }}
DB_PASS={{ db_owner_password }}
DB_NAME={{ db_name }}
DB_PORT={{ db_port }}
DB_HOST=localhost
TEST_DB_NAME={{ test_db_name }}
JWTSECRET={{ jwtsecret }}
NODE_ENV={{ node_environment }}
