.*.sw?
.DS_Store
npm-debug.log

/.vscode
/.vagrant
/.eslintrc.json
/apps/api/node_modules
/apps/webclient/node_modules
/apps/queueworker/node_modules
/apps/wsserver/node_modules
/apps/api/.env
/apps/queueworker/.env
/apps/wsserver/.env
/bin/ssh
/bin/migrate
/bin/psql
/etc/ansible/vagrant_playbook.retry
/apps/webclient/dist/js/bundle.js
/apps/webclient/dist/css/*.css

/etc/rambler/*
!/etc/rambler/.gitkeep
