.*.sw?
.DS_Store
npm-debug.log

/.vscode
/.vagrant
/.eslintrc.json
/apps/api/node_modules
/apps/webclient/node_modules
/apps/api/.env
/bin/ssh
/bin/migrate
/bin/psql
/etc/ansible/vagrant_playbook.retry
/apps/webclient/dist/bundle.js
/apps/webclient/dist/swagger.json
/apps/api/swagger.json


/etc/rambler/*
!/etc/rambler/.gitkeep
