.*.sw?
.DS_Store
npm-debug.log

/.vagrant
/apps/api/node_modules
/apps/webclient-dev/node_modules
/apps/webclient/bundle.js
/apps/api/.env
/bin/ssh
/bin/migrate
/bin/psql
/etc/ansible/vagrant_playbook.retry

/etc/rambler/*
!/etc/rambler/.gitkeep
