#grocery-list-page {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "na groceryListPage na2";
  color: #3E4545;
}

@media (max-width : 960px) {
  #grocery-list-page {
    grid-template-columns: 2fr 9fr 2fr;
    grid-template-areas: "na groceryListPage na2";
  }
}

@media (max-width : 700px) {
  #grocery-list-page {
    grid-template-columns: 1fr 93fr 1fr;
    grid-template-areas: "na groceryListPage na2";
  }
}

#grocery-list {
  grid-area: groceryListPage;
  margin-top: 10px;
  border: 1px solid #3E4545;
  border-radius: 15px;
  padding: 8px;
  box-shadow: 1px 2px 2px grey;
}

#grocery-list-header > h1 {
  display: inline-block;
  margin-top: 2px;
  color: #3E4545;
}

#grocery-list-header > .add-item-button {
  float: right;
}

#grocery-list .categoryList {
  border: 1px solid #3E4545;
  border-radius: 7px;
  margin-bottom: 8px;
}

#grocery-list .categoryList h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #3E4545;
  background: #4abdac;
  width: calc(100% - 4px);
  padding-left: 4px;
  font-size: 18px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  font-weight: initial;
}

#grocery-list .categoryList .category-items {
  padding: 5px;
}

#grocery-list .categoryList .category-items .category-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2fr 4fr;
  grid-template-areas: "itemCheck itemName itemQuantity itemQuantityType itemAddedByNickname";
}
#grocery-list .categoryList .category-items .category-item.checked {
  opacity: 0.6;
  position: relative;
}

#grocery-list .categoryList .category-items .category-item.checked::before {
  content: '';
  border-bottom: 1px solid #3E4545;
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}

#grocery-list .categoryList .category-items .category-item .item-check {
  grid-area: itemCheck;
}
#grocery-list .categoryList .category-items .category-item .item-name {
  grid-area: itemName;
}
#grocery-list .categoryList .category-items .category-item .item-quantity {
  grid-area: itemQuantity;
  text-align: center;
}
#grocery-list .categoryList .category-items .category-item .item-quantity-type {
  grid-area: itemQuantityType;
}
#grocery-list .categoryList .category-items .category-item .item-added-by {
  grid-area: itemAddedByNickname;
  text-align: right;
  font-style: italic;
}
