{
    "driver": "postgresql",
    "protocol": "tcp",
    "host": "localhost",
    "port": 5432,
    "user": "{{ db_owner_username }}",
    "password": "{{ db_owner_password }}",
    "database": "{{ db_name }}",
    "directory": "{{ db_migrations_path }}",
    "environments": {
        "testing": {
            "database": "{{ test_db_name }}"
        }
    }
}
