.loginPage {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas: "na1 login na2";
}

@media (max-width : 960px) {
  .loginPage {
    grid-template-columns: 1fr 3fr 1fr;
  }
}

@media (max-width : 700px) {
  .loginPage {
    grid-template-columns: 1fr 13fr 1fr;
  }
}

.loginPage > .login {
  grid-area: login;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.loginPage > .login > h1.header {
  color: #3E4545;
}

.loginPage > .login > span.loginCredSpan {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
}


.loginPage > .login > span.loginCredSpan > div.iconDiv {
  position: relative;
  height: 34px;
  width: 34px;
  top:30%;
  display: inline-block;
}

.loginPage > .login > span.loginCredSpan > div.iconDiv > .front,
.loginPage > .login > span.loginCredSpan > div.iconDiv > .back,
.loginPage > .login > span.loginCredSpan > div.iconDiv > svg {
  height: 100%;
  width: 100%;
  padding-right: 10px;
  color: #3E4545 !important; /* Ugh mat-ui's inline styling is forcing me to do this */
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 100% 17px; /* half of height */
  transform-origin: 100% 17px;
}

/* front pane, placed above back */
.loginPage > .login > span.loginCredSpan > div.iconDiv > .front {
  z-index: 2;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* back, initially hidden pane */
.loginPage > .login > span.loginCredSpan > div.iconDiv > .back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.loginPage > .login > span.buttonSpan {
  display: flex;
  flex-direction: row;
}

.loginPage > .login > span.buttonSpan > .loginButton {
  margin: 12px;
  width: 5em; 
}
