.loginPage {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

@media (max-width : 960px) {
  .loginPage {
    grid-template-columns: 20% 60% 20%;
  }
}

@media (max-width : 700px) {
  .loginPage {
    grid-template-columns: 2.5% 95% 2.5%;
  }
}

.loginPage > .login {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.loginPage > .login > h1.header {
  color: #FAFAFA;
}

.loginPage > .login > span.loginCredSpan {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
}


.loginPage > .login > span.loginCredSpan > div.iconDiv {
  position: relative;
  height: 34px;
  width: 34px;
  top:30%;
  display: inline-block;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  -webkit-transform-origin: 100% 17px; /* half of height */
  transform-origin: 100% 17px;
}

.loginPage > .login > span.loginCredSpan > div.iconDiv > .front,
.loginPage > .login > span.loginCredSpan > div.iconDiv > .back,
.loginPage > .login > span.loginCredSpan > div.iconDiv > svg {
  padding-right: 10px;
  color: white !important; /* Ugh mat-ui's inline styling is forcing me to do this */
  backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.loginPage > .login > span.loginCredSpan > div.iconDiv > .front {
	z-index: 2;
  -webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

/* back, initially hidden pane */
.loginPage > .login > span.loginCredSpan > div.iconDiv > .back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.loginPage > .login > span.buttonSpan {
  display: flex;
  flex-direction: row;
}

.loginPage > .login > span.buttonSpan > .loginButton {
  margin: 12px;
  width: 5em; 
}
